In [16]:
import sqlite3
import pandas as pd

#Connect to Database
conn = sqlite3.connect('db/fashion_magazines.db')

query = '''SELECT customer_name AS Customer,PRINTF('$%.2f',sum(s.price_per_month*s.subscription_length)) AS 'Amount Due'	
FROM customers c
INNER JOIN orders o
ON c.customer_id =o.customer_id
INNER JOIN subscriptions s
ON s.subscription_id= o.subscription_id
WHERE s.description='Fashion Magazine' AND o.order_status = 'unpaid'
GROUP BY Customer


'''


df = pd.read_sql(query, conn)

# Display the dataframe
print(df)
conn.close()

           Customer Amount Due
0   Bethann Schraub    $102.00
1        Eryn Vilar    $102.00
2      Janay Priolo     $57.00
3  Lizabeth Letsche    $237.00